h1#head.head{
    float:center;
}

.intro{
    background-color: whitesmoke;
    width: 100%;
    height:calc(100% - 70px);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}



.center-img {
    height: 300px;
    max-width: 300px;
    margin: 1% 0% 1% 0%;
    object-fit: contain;
    float: left;
}

p.about{
    max-width: 500px;
    object-fit: contain;
    display: inline-flex;
    
}

.footer{
    background-color: lightgray;
}
