.app{
    height: 100vh;
}

*{
    overflow-x: hidden;
    
}

.container{
    width: 100%;
    height:calc(100% - 50px);
    background-color: skyblue;
    position: relative;
    top: 50px;
    
}

